spring:
  application:
    name: client-video-service
  datasource:
    url: jdbc:postgresql://localhost:5432/videos_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
  servlet:
    multipart:
      max-file-size: 500MB        # Maximum size for a single file
      max-request-size: 500MB     # Maximum size for the entire request
      enabled: true
server:
  port: 8084
    
minio:
  endpoint: ${MINIO_ENDPOINT:http://localhost:11000}
  access-key: ${MINIO_ACCESS_KEY:minioadmin}
  secret-key: ${MINIO_SECRET_KEY:minioadmin}
  bucket-name: ${MINIO_BUCKET_NAME:videos}
